In [4]:
from mplsoccer import Sbopen
# The first thing we have to do is open the data. We use a parser SBopen available in mplsoccer.
parser = Sbopen()

In [7]:
parser

## Competition data

In [8]:
#opening data using competition method
df_competition = parser.competition()
#structure of data
df_competition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             70 non-null     int64
 1   season_id                  70 non-null     int64
 2   country_name               70 non-null     object
 3   competition_name           70 non-null     object
 4   competition_gender         70 non-null     object
 5   competition_youth          70 non-null     bool
 6   competition_international  70 non-null     bool
 7   season_name                70 non-null     object
 8   match_updated              70 non-null     object
 9   match_updated_360          54 non-null     object
 10  match_available_360        8 non-null      object
 11  match_available            70 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 5.7+ KB

In [9]:
df_competition.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2023-12-12T07:43:33.436182,None,None,2023-12-12T07:43:33.436182
1,16,4,Europe,Champions League,male,False,False,2018/2019,2023-03-07T12:20:48.118250,2021-06-13T16:17:31.694,None,2023-03-07T12:20:48.118250
2,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
3,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

### Champions League data

In [12]:
df_competition[df_competition['competition_name'] == 'Champions League'].sort_values(by=['season_name'])

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
18,16,276,Europe,Champions League,male,False,False,1970/1971,2023-11-18T14:44:32.134540,None,None,2023-11-18T14:44:32.134540
17,16,71,Europe,Champions League,male,False,False,1971/1972,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
16,16,277,Europe,Champions League,male,False,False,1972/1973,2023-07-06T12:49:07.467625,None,None,2023-07-06T12:49:07.467625
15,16,76,Europe,Champions League,male,False,False,1999/2000,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
14,16,44,Europe,Champions League,male,False,False,2003/2004,2022-11-24T21:06:10.454916,2021-06-13T16:17:31.694,None,2022-11-24T21:06:10.454916
13,16,37,Europe,Champions League,male,False,False,2004/2005,2021-04-01T06:18:57.459032,2021-06-13T16:17:31.694,None,2021-04-01T06:18:57.459032
12,16,39,Europe,Champions League,male,False,False,2006/2007,2021-03-31T04:18:30.437060,2021-06-13T16:17:31.694,None,2021-03-31T04:18:30.437060
11,16,41,Europe,Champions League,male,False,False,2008/2009,2021-11-07T14:20:01.699993,2021-06-13T16:17:31.694,None,2021-11-07T14:20:01.699993
10,16,21,Europe,Champions League,male,False,False,2009/2010,2022-11-15T17:26:10.871011,2021-06-13T16:17:31.694,None,2022-11-15T17:26:10.871011
9,16,22,Europe,Champions League,male,False,False,2010/2011,2022-01-26T21:07:11.033473,2021-06-13T16:17:31.694,None,2022-01-26T21:07:11.033473
8,16,23,Europe,Champions League,male,False,False,2011/2012,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
7,16,24,Europe,Champions League,male,False,False,2012/2013,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-10T13:41:45.751
6,16,25,Europe,Champions League,male,False,False,2013/2014,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
5,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
2,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
1,16,4,Europe,Champions League,male,False,False,2018/2019,2023-03-07T12:20:48.118250,2021-06-13T16:17:31.694,None,2023-03-07T12:20:48.118250

### UCL Final 2018/19

In [13]:
#opening data using match method
df_match = parser.match(competition_id=16, season_id=4)
#structure of data
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         1 non-null      int64
 1   match_date                       1 non-null      datetime64[ns]
 2   kick_off                         1 non-null      datetime64[ns]
 3   home_score                       1 non-null      int64
 4   away_score                       1 non-null      int64
 5   match_status                     1 non-null      object
 6   match_status_360                 1 non-null      object
 7   last_updated                     1 non-null      datetime64[ns]
 8   last_updated_360                 1 non-null      datetime64[ns]
 9   match_week                       1 non-null      int64
 10  competition_id                   1 non-null      int64
 11  country_name                     1 non-null      object
 12  competition_name                 1 non-null      object
 13  season_id                        1 non-null      int64
 14  season_name                      1 non-null      object
 15  home_team_id                     1 non-null      int64
 16  home_team_name                   1 non-null      object
 17  home_team_gender                 1 non-null      object
 18  home_team_group                  0 non-null      object
 19  home_team_country_id             1 non-null      int64
 20  home_team_country_name           1 non-null      object
 21  home_team_managers_id            1 non-null      int64
 22  home_team_managers_name          1 non-null      object
 23  home_team_managers_nickname      1 non-null      object
 24  home_team_managers_dob           1 non-null      datetime64[ns]
 25  home_team_managers_country_id    1 non-null      int64
 26  home_team_managers_country_name  1 non-null      object
 27  away_team_id                     1 non-null      int64
 28  away_team_name                   1 non-null      object
 29  away_team_gender                 1 non-null      object
 30  away_team_group                  0 non-null      object
 31  away_team_country_id             1 non-null      int64
 32  away_team_country_name           1 non-null      object
 33  away_team_managers_id            1 non-null      int64
 34  away_team_managers_name          1 non-null      object
 35  away_team_managers_nickname      1 non-null      object
 36  away_team_managers_dob           1 non-null      datetime64[ns]
 37  away_team_managers_country_id    1 non-null      int64
 38  away_team_managers_country_name  1 non-null      object
 39  metadata_data_version            1 non-null      object
 40  metadata_shot_fidelity_version   1 non-null      object
 41  metadata_xy_fidelity_version     1 non-null      object
 42  competition_stage_id             1 non-null      int64
 43  competition_stage_name           1 non-null      object
 44  stadium_id                       1 non-null      int64
 45  stadium_name                     1 non-null      object
 46  stadium_country_id               1 non-null      int64
 47  stadium_country_name             1 non-null      object
 48  referee_id                       1 non-null      int64
 49  referee_name                     1 non-null      object
 50  referee_country_id               1 non-null      int64
 51  referee_country_name             1 non-null      object
dtypes: datetime64[ns](6), int64(19), object(27)
memory usage: 548.0+ bytes

In [16]:
df_match['match_id']

0    22912
Name: match_id, dtype: int64

In [19]:
#opening data using match method
df_lineup = parser.lineup(22912)
#structure of data
df_lineup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_id        46 non-null     int64
 1   player_name      46 non-null     object
 2   player_nickname  46 non-null     object
 3   jersey_number    46 non-null     int64
 4   match_id         46 non-null     int64
 5   team_id          46 non-null     int64
 6   team_name        46 non-null     object
 7   country_id       46 non-null     int64
 8   country_name     46 non-null     object
dtypes: int64(5), object(4)
memory usage: 3.4+ KB

### Teams based on line-up

In [30]:
spurs_df = df_lineup[df_lineup['team_name'] == 'Tottenham Hotspur']
liverpool_df = df_lineup[df_lineup['team_name'] == 'Liverpool']

In [32]:
liverpool_df

,player_id,player_name,player_nickname,jersey_number,match_id,team_id,team_name,country_id,country_name
23,3247,Fábio Henrique Tavares,Fabinho,3,22912,24,Liverpool,31,Brazil
24,3471,Dejan Lovren,Dejan Lovren,6,22912,24,Liverpool,56,Croatia
25,3473,James Philip Milner,James Milner,7,22912,24,Liverpool,68,England
26,3495,Joe Gomez,Joe Gomez,12,22912,24,Liverpool,68,England
27,3502,Joël Andre Job Matip,Joël Matip,32,22912,24,Liverpool,39,Cameroon
28,3515,Alberto Moreno Pérez,Alberto Moreno,18,22912,24,Liverpool,214,Spain
29,3525,Alex Oxlade-Chamberlain,Alex Oxlade-Chamberlain,21,22912,24,Liverpool,68,England
30,3529,Daniel Andre Sturridge,Daniel Sturridge,15,22912,24,Liverpool,68,England
31,3531,Mohamed Salah,Mohamed Salah,11,22912,24,Liverpool,66,Egypt
32,3532,Jordan Brian Henderson,Jordan Henderson,14,22912,24,Liverpool,68,England
33,3533,Xherdan Shaqiri,Xherdan Shaqiri,23,22912,24,Liverpool,221,Switzerland
34,3535,Roberto Firmino Barbosa de Oliveira,Roberto Firmino,9,22912,24,Liverpool,31,Brazil
35,3539,Simon Mignolet,Simon Mignolet,22,22912,24,Liverpool,22,Belgium
36,3567,Georginio Wijnaldum,Georginio Wijnaldum,5,22912,24,Liverpool,160,Netherlands
37,3629,Sadio Mané,Sadio Mané,10,22912,24,Liverpool,202,Senegal
38,3655,Andrew Robertson,Andrew Robertson,26,22912,24,Liverpool,201,Scotland
39,3664,Trent Alexander-Arnold,Trent Alexander-Arnold,66,22912,24,Liverpool,68,England
40,3669,Virgil van Dijk,Virgil van Dijk,4,22912,24,Liverpool,160,Netherlands
41,4090,Adam David Lallana,Adam Lallana,20,22912,24,Liverpool,68,England
42,4747,Divock Okoth Origi,Divock Origi,27,22912,24,Liverpool,22,Belgium
43,5547,Alisson Ramsés Becker,Alisson,13,22912,24,Liverpool,31,Brazil
44,34206,Rhian Brewster,Rhian Brewster,24,22912,24,Liverpool,68,England
45,34959,Caoimhin Kelleher,Caoimhin Kelleher,62,22912,24,Liverpool,109,Ireland

## Event Data

In [33]:
#opening data
df_event, df_related, df_freeze, df_tactics = parser.event(22912)

#structure of data
df_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3165 entries, 0 to 3164
Data columns (total 70 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3165 non-null   object
 1   index                           3165 non-null   int64
 2   period                          3165 non-null   int64
 3   timestamp                       3165 non-null   object
 4   minute                          3165 non-null   int64
 5   second                          3165 non-null   int64
 6   possession                      3165 non-null   int64
 7   duration                        2319 non-null   float64
 8   match_id                        3165 non-null   int64
 9   type_id                         3165 non-null   int64
 10  type_name                       3165 non-null   object
 11  possession_team_id              3165 non-null   int64
 12  possession_team_name            3165 non-null   object
 13  play_pattern_id                 3165 non-null   int64
 14  play_pattern_name               3165 non-null   object
 15  team_id                         3165 non-null   int64
 16  team_name                       3165 non-null   object
 17  tactics_formation               6 non-null      object
 18  player_id                       3149 non-null   float64
 19  player_name                     3149 non-null   object
 20  position_id                     3149 non-null   float64
 21  position_name                   3149 non-null   object
 22  pass_recipient_id               846 non-null    float64
 23  pass_recipient_name             846 non-null    object
 24  pass_length                     890 non-null    float64
 25  pass_angle                      890 non-null    float64
 26  pass_height_id                  890 non-null    float64
 27  pass_height_name                890 non-null    object
 28  end_x                           1608 non-null   float64
 29  end_y                           1608 non-null   float64
 30  body_part_id                    902 non-null    float64
 31  body_part_name                  902 non-null    object
 32  sub_type_id                     352 non-null    float64
 33  sub_type_name                   352 non-null    object
 34  x                               3140 non-null   float64
 35  y                               3140 non-null   float64
 36  pass_switch                     36 non-null     object
 37  outcome_id                      553 non-null    float64
 38  outcome_name                    553 non-null    object
 39  under_pressure                  697 non-null    float64
 40  aerial_won                      32 non-null     object
 41  technique_id                    75 non-null     float64
 42  technique_name                  75 non-null     object
 43  foul_committed_penalty          1 non-null      object
 44  shot_statsbomb_xg               30 non-null     float64
 45  end_z                           19 non-null     float64
 46  goalkeeper_position_id          30 non-null     float64
 47  goalkeeper_position_name        30 non-null     object
 48  off_camera                      44 non-null     float64
 49  foul_committed_advantage        4 non-null      object
 50  foul_won_advantage              4 non-null      object
 51  ball_recovery_recovery_failure  16 non-null     object
 52  counterpress                    54 non-null     float64
 53  out                             32 non-null     float64
 54  dribble_overrun                 4 non-null      object
 55  pass_cross                      19 non-null     object
 56  pass_assisted_shot_id           19 non-null     object
 57  pass_shot_assist                18 non-null     object
 58  shot_key_pass_id                19 non-null     object
 59  foul_won_defensive              3 non-null      object
 60  shot_first_time                 4 non-null      object
 61  pass_cut_back                   3 non-null      object
 62  substitution_replacement_id     6 non-null      float64
 63  substitution_replacement_name   6 non-null      object
 64  pass_deflected                  1 non-null      object
 65  block_deflection                1 non-null      object
 66  foul_committed_offensive        1 non-null      object
 67  dribble_nutmeg                  1 non-null      object
 68  block_offensive                 2 non-null      object
 69  pass_goal_assist                1 non-null      object
dtypes: float64(23), int64(10), object(37)
memory usage: 1.7+ MB

### Extracting passing data

In [51]:
df_passes = df_event[['player_id', 'player_name', 'position_name', 'pass_recipient_id', 'pass_recipient_name', 'pass_length', 'pass_angle', 'pass_height_id', 'pass_height_name', 'end_x', 'end_y']]
df_passes = df_passes.dropna()

In [52]:
df_passes.head()

,player_id,player_name,position_name,pass_recipient_id,pass_recipient_name,pass_length,pass_angle,pass_height_id,pass_height_name,end_x,end_y
4,3532.0,Jordan Brian Henderson,Right Center Midfield,3502.0,Joël Andre Job Matip,27.252338,3.005404,1.0,Ground Pass,34.0,43.8
7,3502.0,Joël Andre Job Matip,Right Center Back,3629.0,Sadio Mané,64.734070,-0.675947,3.0,High Pass,86.6,3.5
9,3308.0,Kieran Trippier,Right Back,10955.0,Harry Kane,23.568836,-0.471238,3.0,High Pass,54.5,65.9
11,3247.0,Fábio Henrique Tavares,Center Defensive Midfield,3535.0,Roberto Firmino Barbosa de Oliveira,17.442764,0.167034,3.0,High Pass,82.8,17.1
13,3091.0,Moussa Sissoko,Right Defensive Midfield,3082.0,Harry Winks,7.940403,-0.293869,3.0,High Pass,44.9,60.7

In [46]:
df_related.head()

,match_id,id,index,type_name,id_related,index_related,type_name_related
0,22912,00b678a4-3767-4d0b-92e6-9cb4c959d94d,3,Half Start,05840f64-0fb7-4f2d-885a-49790d6bd4df,4,Half Start
1,22912,05840f64-0fb7-4f2d-885a-49790d6bd4df,4,Half Start,00b678a4-3767-4d0b-92e6-9cb4c959d94d,3,Half Start
2,22912,b67ef6a9-e877-4dbe-bb03-edcc9d8c7711,5,Pass,c7297515-ae92-4fb4-93a8-59745b8dfa90,6,Ball Receipt
3,22912,c7297515-ae92-4fb4-93a8-59745b8dfa90,6,Ball Receipt,b67ef6a9-e877-4dbe-bb03-edcc9d8c7711,5,Pass
4,22912,609587a5-193c-469b-be3c-63131c646e59,7,Carry,10f8eed9-fa49-4170-9057-d9418e9546ae,8,Pass

In [54]:
df_freeze.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   teammate         415 non-null    bool
 1   match_id         415 non-null    int64
 2   id               415 non-null    object
 3   x                415 non-null    float64
 4   y                415 non-null    float64
 5   player_id        415 non-null    int64
 6   player_name      415 non-null    object
 7   position_id      415 non-null    int64
 8   position_name    415 non-null    object
 9   event_freeze_id  415 non-null    int64
dtypes: bool(1), float64(2), int64(4), object(3)
memory usage: 29.7+ KB

In [56]:
df_freeze.head()

,teammate,match_id,id,x,y,player_id,player_name,position_id,position_name,event_freeze_id
0,False,22912,67b9cbde-0eb7-4800-9bfe-c2ce1ad406a6,99.7,30.6,3247,Fábio Henrique Tavares,10,Center Defensive Midfield,1
1,False,22912,67b9cbde-0eb7-4800-9bfe-c2ce1ad406a6,106.1,39.0,3669,Virgil van Dijk,5,Left Center Back,2
2,False,22912,67b9cbde-0eb7-4800-9bfe-c2ce1ad406a6,104.1,45.4,3655,Andrew Robertson,6,Left Back,3
3,False,22912,67b9cbde-0eb7-4800-9bfe-c2ce1ad406a6,100.0,51.2,3629,Sadio Mané,21,Left Wing,4
4,False,22912,67b9cbde-0eb7-4800-9bfe-c2ce1ad406a6,90.9,39.3,3535,Roberto Firmino Barbosa de Oliveira,23,Center Forward,5

In [57]:
df_tactics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   jersey_number     66 non-null     int64
 1   match_id          66 non-null     int64
 2   id                66 non-null     object
 3   player_id         66 non-null     int64
 4   player_name       66 non-null     object
 5   position_id       66 non-null     int64
 6   position_name     66 non-null     object
 7   event_tactics_id  66 non-null     int64
dtypes: int64(5), object(3)
memory usage: 4.3+ KB

In [58]:
df_tactics.head()

,jersey_number,match_id,id,player_id,player_name,position_id,position_name,event_tactics_id
0,1,22912,9ec3d009-c15b-4a8d-be80-57a07f40755a,3099,Hugo Lloris,1,Goalkeeper,1
1,2,22912,9ec3d009-c15b-4a8d-be80-57a07f40755a,3308,Kieran Trippier,2,Right Back,2
2,4,22912,9ec3d009-c15b-4a8d-be80-57a07f40755a,20005,Toby Alderweireld,3,Right Center Back,3
3,5,22912,9ec3d009-c15b-4a8d-be80-57a07f40755a,3077,Jan Vertonghen,5,Left Center Back,4
4,3,22912,9ec3d009-c15b-4a8d-be80-57a07f40755a,3594,Danny Rose,6,Left Back,5

In [59]:
df_frame, df_visible = parser.frame(3788741)

# exploring the data
df_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45737 entries, 0 to 45736
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   teammate  45737 non-null  bool
 1   actor     45737 non-null  bool
 2   keeper    45737 non-null  bool
 3   match_id  45737 non-null  int64
 4   id        45737 non-null  object
 5   x         45737 non-null  float64
 6   y         45737 non-null  float64
dtypes: bool(3), float64(2), int64(1), object(1)
memory usage: 1.5+ MB

In [60]:
df_frame.head()

,teammate,actor,keeper,match_id,id,x,y
0,False,False,False,3788741,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,43.653216,31.988432
1,False,False,False,3788741,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,43.997359,45.599483
2,False,False,False,3788741,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,49.675716,35.434268
3,False,False,False,3788741,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,54.493715,30.093223
4,False,False,False,3788741,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,58.279286,48.528443

In [61]:
df_visible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3370 entries, 0 to 3369
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match_id      3370 non-null   int64
 1   id            3370 non-null   object
 2   visible_area  3370 non-null   object
dtypes: int64(1), object(2)
memory usage: 79.1+ KB

In [62]:
df_visible.head()

,match_id,id,visible_area
0,3788741,5c888f58-fe77-459b-ab3b-a2fa5fb8ab16,"[0.0, 27.7649873094419, 19.2332231959735, 17.3..."
1,3788741,776e11e0-9e85-4226-9f9e-edefa3685288,"[34.5953633899854, 77.2328373069048, 6.5972315..."
2,3788741,bea4235d-7e40-461c-bb82-6d473f5bb324,"[34.5953633899854, 77.2328373069048, 6.5972315..."
3,3788741,84b9b798-0fbe-45bc-a4bf-3621959f29ce,"[35.4292984462803, 78.5704958529984, 7.7187164..."
4,3788741,6e2955cf-ad4f-4096-a4dd-053173a3802b,"[19.7831665231312, 80.0, 41.3426126170851, 0.0..."